body {
  font-family: 'Roboto', sans-serif;
}

a:hover {
  text-decoration: none;
}

input {
  border: none;
}

input:focus {
  outline: none;
}

.header {
  background: #EDEDED;
  padding-top: 60px;
  padding-bottom: 75px;
}

.header-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-size: 22px;
  font-weight: 400;
}

.header-list a {
  padding-left: 15px;
  padding-right: 15px;
  color: #000;
}

.header-list a:hover {
  background: #FBB03B;
  color: #1B1464;
}

.header-list_4 {
  font-size: 16px;
  font-weight: 400;
}

.header-list_4 a {
  color: #707070;
  border: 1px solid #707070;
  border-radius: 5px;
  padding: 7px 15px;
}

.header-list_4 a:hover {
  background: #aeaeae;
}

.header-block_contacts {
  font-size: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.header-block_contacts__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.header-block_contacts__info a {
  color: #000;
}

.header-block_contacts__info a:hover {
  color: #1B1464;
  background: #FBB03B;
}

.main {
  background: #EDEDED;
  padding-bottom: 270px;
}

.main-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding-left: 90px;
}

.main-block a {
  color: #1B1464;
  background: #FBB03B;
  padding: 15px 25px;
  border-radius: 15px;
}

.main-block a:hover {
  background: #EDEDED;
  border: 1px solid #fbb03b;
  color: #aeaeae;
}

.main-title {
  font-size: 50px;
  font-weight: 400;
  padding-bottom: 53px;
  color: #707070;
}

.main-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.main-form_question {
  font-size: 15px;
  font-weight: 400;
}

.main-form_name {
  padding: 12px 150px 12px 20px;
  margin-bottom: 20px;
  color: #afafaf;
  font-size: 14px;
  font-weight: 400;
}

.main-form_name::-webkit-input-placeholder {
  color: #afafaf;
}

.main-form_name:-ms-input-placeholder {
  color: #afafaf;
}

.main-form_name::-ms-input-placeholder {
  color: #afafaf;
}

.main-form_name::placeholder {
  color: #afafaf;
}

.main-form_phone {
  padding: 12px 150px 12px 20px;
  margin-bottom: 20px;
  color: #afafaf;
  font-size: 14px;
  font-weight: 400;
}

.main-form_phone::-webkit-input-placeholder {
  color: #afafaf;
}

.main-form_phone:-ms-input-placeholder {
  color: #afafaf;
}

.main-form_phone::-ms-input-placeholder {
  color: #afafaf;
}

.main-form_phone::placeholder {
  color: #afafaf;
}

.main-form input[type=checkbox] {
  display: none;
}

.main-form input[type=checkbox] + label {
  display: block;
  position: relative;
  margin: 12px 0px 12px 30px;
  cursor: pointer;
  font-size: 16px;
  line-height: 20px;
  color: #333333;
}

.main-form input[type=checkbox] + label:hover {
  color: #337AB7;
}

.main-form input[type=checkbox] + label:before {
  position: absolute;
  content: '';
  width: 22px;
  height: 22px;
  line-height: 22px;
  left: -30px;
  border: 1px solid #808080;
}

.main-form input[type=checkbox]:checked + label:before {
  content: '\2714';
  color: #337AB7;
  font-size: 14px;
  text-align: center;
  font-weight: bold;
  border: 1px solid #337AB7;
}

.main-form input[type=submit] {
  padding: 14px 22px;
  font-size: 20px;
  font-weight: 400;
  color: #707070;
  background: #fff;
}

.main-form input[type=submit]:hover {
  background: #fbb03b;
}

.main-form input[disabled] {
  opacity: 0.6;
  cursor: not-allowed;
}

.arrow {
  background: #EDEDED;
  padding-bottom: 37px;
}

.arrow-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.arrow-description {
  color: #707070;
  font-size: 16px;
  font-weight: 400;
  padding-bottom: 6px;
}

.arrow-bottom {
  border: 40px solid transparent;
  border-top-color: #707070;
  border-bottom: 0;
}

.advantage {
  padding-top: 50px;
  padding-bottom: 61px;
}

.advantage-blocks-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.advantage-blocks-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.advantage-blocks-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.advantage-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 50px;
}

.advantage-block_img {
  padding-bottom: 20px;
}

.advantage-img {
  width: 61px;
  height: 55px;
}

.advantage-description {
  max-width: 233px;
  text-align: center;
  color: #707070;
  font-size: 16px;
  font-style: italic;
  line-height: 24px;
}

.footer {
  padding-top: 60px;
  padding-bottom: 63px;
  background: #aeaeae;
}

.footer-block_form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer-block_img {
  padding-bottom: 34px;
}

.footer-block_information {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.footer-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.footer-form_description {
  margin: 0;
  color: #ffffff;
  font-size: 24px;
  font-weight: 400;
}

.footer-form_text {
  color: #ffffff;
  font-size: 20px;
  font-weight: 400;
  padding-bottom: 16px;
}

.footer-form_name {
  padding: 12px 150px 12px 20px;
  margin-bottom: 20px;
  color: #afafaf;
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 20px;
}

.footer-form_name::-webkit-input-placeholder {
  color: #afafaf;
}

.footer-form_name:-ms-input-placeholder {
  color: #afafaf;
}

.footer-form_name::-ms-input-placeholder {
  color: #afafaf;
}

.footer-form_name::placeholder {
  color: #afafaf;
}

.footer-form_phone {
  padding: 12px 150px 12px 20px;
  margin-bottom: 20px;
  color: #afafaf;
  font-size: 14px;
  font-weight: 400;
}

.footer-form_phone::-webkit-input-placeholder {
  color: #afafaf;
}

.footer-form_phone:-ms-input-placeholder {
  color: #afafaf;
}

.footer-form_phone::-ms-input-placeholder {
  color: #afafaf;
}

.footer-form_phone::placeholder {
  color: #afafaf;
}

.footer-form input[type=checkbox] {
  display: none;
}

.footer-form input[type=checkbox] + label {
  display: block;
  position: relative;
  margin: 12px 0px 12px 30px;
  cursor: pointer;
  font-size: 16px;
  line-height: 20px;
  color: #333333;
}

.footer-form input[type=checkbox] + label:hover {
  color: #337AB7;
}

.footer-form input[type=checkbox] + label:before {
  position: absolute;
  content: '';
  width: 22px;
  height: 22px;
  line-height: 22px;
  left: -30px;
  border: 1px solid #808080;
}

.footer-form input[type=checkbox]:checked + label:before {
  content: '\2714';
  color: #337AB7;
  font-size: 14px;
  text-align: center;
  font-weight: bold;
  border: 1px solid #337AB7;
}

.footer-form input[type=submit] {
  padding: 14px 22px;
  font-size: 20px;
  font-weight: 400;
  color: #707070;
  background: #fff;
}

.footer-form input[type=submit]:hover {
  background: #fbb03b;
}

.footer-form input[disabled] {
  opacity: 0.6;
  cursor: not-allowed;
}

.footer-addres {
  color: #ffffff;
  font-size: 20px;
  font-style: italic;
  padding-bottom: 15px;
}

.footer-info {
  font-style: italic;
  font-size: 18px;
}

.footer-info a {
  color: #fff;
  padding-left: 15px;
}

.catalog {
  padding-top: 60px;
  padding-bottom: 30px;
}

.catalog-page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 20px;
}

.catalog-page_img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.catalog-page_img__photo {
  width: 150px;
  height: 230px;
}

.catalog-page_description {
  font-size: 20px;
  font-weight: 500;
  color: #707070;
  padding-bottom: 5px;
}

.catalog-page a {
  font-size: 15px;
  font-weight: 500;
  color: #707070;
}

.catalog-page a:hover {
  text-decoration: underline;
}

.photo {
  -o-object-fit: contain;
     object-fit: contain;
}

.tabs {
  margin: 0;
  background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 80px;
  border-radius: 2px 2px 0px 0px;
}

.tablinks {
  background: transparent;
  background-image: -webkit-gradient(linear, left top, right top, color-stop(70%, transparent), to(rgba(255, 255, 255, 0.2)));
  background-image: linear-gradient(90deg, transparent 70%, rgba(255, 255, 255, 0.2) 100%);
  border: none;
  outline: none;
  cursor: pointer;
  width: 25%;
  height: 80px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 16px;
  overflow: hidden;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.tablinks:focus {
  outline: none;
}

.tablinks:before {
  background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
  content: '';
  width: 100%;
  height: 0px;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  z-index: 2;
}

.tablinks:hover::before {
  height: 100%;
  z-index: 2;
  bottom: 0;
}

.tablinks.active {
  background-color: white;
  z-index: 0;
  border-right: 0px;
  border-left: 0px;
  height: 110px;
  bottom: 0px;
  overflow: hidden;
}

.tablinks.active:before {
  content: '';
  width: 100%;
  height: 5px;
  top: 0;
  left: 0;
}

.tablinks p {
  opacity: 0.6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 2;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
  padding: 0;
  margin: 0;
  color: #686868;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  font-weight: 400;
}

.tablinks p:before {
  content: attr(data-title);
  position: absolute;
  height: auto;
  width: auto;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  opacity: 0.1;
  font-size: 40px;
  -webkit-transition: 1s ease-out;
  transition: 1s ease-out;
  z-index: -1;
  font-weight: 600;
  top: 110%;
}

.tablinks:hover p {
  color: white;
  opacity: 1;
}

.tablinks:hover p:before {
  opacity: 0.1;
  font-size: 40px;
  top: -80%;
}

.tablinks.active p,
.tablinks.active:hover p {
  opacity: 1;
  background: -webkit-linear-gradient(135deg, #667eea 0%, #764ba2 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.wrapper_tabcontent {
  background-color: white;
  margin-top: 0px;
  z-index: -3;
  position: relative;
  opacity: 1;
  padding: 40px 60px;
  overflow: hidden;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
  top: 0;
}

.wrapper_tabcontent:after {
  content: '';
  height: 5px;
  width: 100%;
  position: absolute;
  background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
  left: 0;
  bottom: 0;
  z-index: -2;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

.tabcontent {
  display: none;
  min-height: 180px;
}

.tabcontent h3 {
  font-size: 40px;
  top: 75px;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  position: absolute;
  left: -90px;
  opacity: 0.1;
  width: 200px;
  height: 60px;
  background: -webkit-linear-gradient(135deg, #667eea 0%, #764ba2 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding: 0;
  -webkit-animation: city 1s ease;
          animation: city 1s ease;
}

.tabcontent .products-page {
  color: #686868;
  margin: 0;
  padding: 0;
  line-height: 28px;
  font-weight: 100;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
  -webkit-animation: fadeEffect 0.6s ease;
          animation: fadeEffect 0.6s ease;
  width: 100%;
  font-size: 16px;
}

.tabcontent.active {
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
  display: block;
}

@-webkit-keyframes tabEffect {
  from {
    top: -40px;
  }
  to {
    top: 0px;
  }
}

@keyframes tabEffect {
  from {
    top: -40px;
  }
  to {
    top: 0px;
  }
}

@-webkit-keyframes city {
  from {
    left: -150px;
  }
  to {
    left: -90px;
  }
}

@keyframes city {
  from {
    left: -150px;
  }
  to {
    left: -90px;
  }
}

@-webkit-keyframes fadeEffect {
  from {
    opacity: 0;
    margin-left: 30px;
  }
  to {
    opacity: 1;
    margin-left: 0;
  }
}

@keyframes fadeEffect {
  from {
    opacity: 0;
    margin-left: 30px;
  }
  to {
    opacity: 1;
    margin-left: 0;
  }
}

.products-page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.products-page_block {
  background-color: #707070;
  width: 169px;
  border-radius: 10px;
  border: 1px solid #707070;
}

.products-page_img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.products-page_img__photo {
  width: 117px;
  height: 94px;
}

.products-page-title {
  text-align: center;
  background-color: #fff;
  color: #707070;
  margin: 0;
  font-size: 18px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.photo {
  -o-object-fit: contain;
     object-fit: contain;
}

.request {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  z-index: 3;
}

.request-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #fff;
  padding-bottom: 40px;
}

.request-form-title {
  padding-top: 30px;
  color: #707070;
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  max-width: 478px;
}

.request-form-label {
  color: #707070;
  display: block;
  margin-top: 20px;
  font-size: 16px;
  font-weight: 300;
  margin-bottom: 17px;
}

.request-form-input {
  padding: 10px 0px 10px 20px;
  width: 100%;
  border-radius: 5px;
  border: 1px solid #707070;
}

.request-form-input::-webkit-input-placeholder {
  color: #000;
}

.request-form-input:-ms-input-placeholder {
  color: #000;
}

.request-form-input::-ms-input-placeholder {
  color: #000;
}

.request-form-input::placeholder {
  color: #000;
}

.request-form-input_select {
  display: none;
}

.request-form-text {
  resize: none;
  padding: 10px 0px 10px 20px;
  border: 1px solid #707070;
  border-radius: 5px;
  width: 100%;
}

.request-form-text::-webkit-input-placeholder {
  color: #000;
}

.request-form-text:-ms-input-placeholder {
  color: #000;
}

.request-form-text::-ms-input-placeholder {
  color: #000;
}

.request-form-text::placeholder {
  color: #000;
}

.request-form input[type=checkbox] {
  display: none;
}

.request-form input[type=checkbox] + label {
  display: block;
  position: relative;
  margin: 12px 0px 12px 30px;
  cursor: pointer;
  font-size: 16px;
  line-height: 20px;
  color: #333333;
}

.request-form input[type=checkbox] + label:hover {
  color: #337AB7;
}

.request-form input[type=checkbox] + label:before {
  position: absolute;
  content: '';
  width: 22px;
  height: 22px;
  line-height: 22px;
  left: -30px;
  border: 1px solid #808080;
}

.request-form input[type=checkbox]:checked + label:before {
  content: '\2714';
  color: #337AB7;
  font-size: 14px;
  text-align: center;
  font-weight: bold;
  border: 1px solid #337AB7;
}

.request-form input[type=submit] {
  margin-top: 10px;
  padding: 9px 20px;
  color: #707070;
  font-size: 20px;
  font-weight: 400;
  border: 1px solid #707070;
  background-color: #fff;
  border-radius: 5px;
}

.request-form input[type=submit]:hover {
  background-color: #707070;
  color: #fff;
}

.request-form input[disabled] {
  opacity: 0.6;
  cursor: not-allowed;
}

.request-form-agreement {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.popup {
  position: fixed;
  left: 50%;
  top: 100px;
  width: 700px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: 4;
}

.popup-close {
  position: absolute;
  font-size: 55px;
  color: red;
  right: -30px;
  top: -50px;
  font-weight: 300;
  cursor: pointer;
}

.testing {
  height: 100vh;
  background: #EDEDED;
}
/*# sourceMappingURL=style.css.map */